{% extends "base.html.twig" %}
{# Login success page #}
{% block title %}Registreerimine{% endblock %}

{% block body %}
    <div class="col-md-6">
    <h1>Kasutaja registreerimine</h1>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">Kasutaja registreermine õnnestus! Täname registreerumast.</li>
    </ul>
    </div>
    <div class="col-md-6"></div>

{% endblock %}