{% extends "base.html.twig" %}

{% block title %}Avaleht{% endblock %}

{% block body %}
    {% if current_user %}

        <h1>Tere tulemast, {{ current_user.firstname }}!</h1>

    {% else %}

        <a href="/login">Logi sisse</a> või <a href="/signup">Registreeru</a>

    {% endif %}

{% endblock %}