{% extends "base.html.twig" %}

{% block title %}Lisa postitus{% endblock %}

{% block body %}

    <h1>Lisa uus postitus</h1>

    <form action="/posts/new" method="post" id="formPostEdit">

        <div class="form-group form-group-lg">
            <label class="control-label" for="post_title">Pealkiri</label>
            <input name="post_title" class="form-control" type="text" id="post_title" placeholder="Postituse pealkiri" value="{{ post.title }}"/>
        </div>
        <div class="form-group">
            <label for="post_content">Sisu</label>
            <textarea class="form-control" rows="10" name="post_content" id="post_content">{{ post.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Salvesta</button>
    </form>
    <br>
    <button class="btn btn-default" onclick="location.href='/posts/index'">Tagasi</button>

{% endblock %}