{% extends "base.html.twig" %}

{% block title %}404 - Lehekülge ei leitud{% endblock %}

{% block body %}

    <h1>Lehekülge ei leitud</h1>
    <p>Vabandame, soovitud lehekülge ei eksisteeri</p>



{% endblock %}