<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body id="bootstrap-override">

<nav class="navbar navbar-static-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Avaleht</a>
        </div>

        {% if current_user %}
        <ul class="nav navbar-nav">
            <li class="navbar-button"><a href="/posts/index">Postitused</a></li>
            <li class="navbar-button"><a href="/products/index">Tooted</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-button">
                <a href="/account">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profiil
                </a>
            </li>
            <li class="navbar-button">
                <a href="/logout">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logi välja
                </a>
            </li>
        </ul>
        {% endif %}

    </div>
</nav>

<div class="col-md-1"></div>

<div class="col-md-10">

    {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">{{ message.body }}</div>
    {% endfor %}

    {% block body %}

    {% endblock %}

</div>

<div class="col-md-1"></div>

{% block footer %}
{% endblock %}
{# Footer implementation TODO #}
<script src="/js/App.js"></script>

</body>
</html>